<div class="container">
  <h4>Current dataset: Movies.csv</h4>
  <table class="table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Favorite movie</th>  
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>18</td>
        <td>Inception</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Kevin</td>
          <td>24</td>
          <td>The Dark Knight</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Trisha</td>
            <td>27</td>
            <td>Lala land</td>
          </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-primary" routerLink="/add-data" >
      Add or update dataset
  </button>
</div>
